@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-top {
  padding: 10px 0;
  background: #939878;
  min-height: 40px;
}
.header-top .container .header-top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .container .header-top-flex .title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.header {
  position: sticky;
  padding: 10px 0px;
  width: 100%;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0px;
}
.header .container .navigation .menu {
  background: transparent;
}
.header .container .navigation .nav-btn {
  display: none;
}
.header .container .navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.header .container .navigation .nav-list .just-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.header .container .navigation .nav-list .just-flex img {
  cursor: pointer;
}
.header .container .navigation .nav-list .flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header .container .navigation .nav-list .header-buttom1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  gap: 4px;
  padding: 9px 21px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.header .container .navigation .nav-list .header-buttom2 {
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 11px 21px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
}
.header .container .navigation .nav-list .header-buttom2:hover {
  color: #cf6f49;
  border: 1px solid #cf6f49;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .navigation .nav-list .nav-item a:before {
  content: "";
  position: absolute;
  top: 10px;
  height: 3px;
  width: 55px;
  background: #ffa155;
  border-radius: 50px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s linner;
  transition: -webkit-transform 0.2s linner;
  transition: transform 0.2s linner;
  transition: transform 0.2s linner, -webkit-transform 0.2s linner;
}
.header .container .navigation .nav-list .nav-item a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header .container .navigation .nav-list .nav-item .nav-link {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header .container .navigation .nav-list .nav-item .nav-link:hover {
  color: #cf6f49;
}
.header .container .navigation .nav-list .nav-btn1 {
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
}
.header .container .navigation .nav-list .nav-btn1:hover {
  color: #ffc000;
  background-color: white;
  border: 1px solid #ffc000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .container .navigation .nav-list .nav-btn2 {
  border-radius: 4px;
  background: #ffc000;
  color: white;
  padding: 4px 8px;
}
.header .container .navigation .nav-list .nav-btn2:hover {
  color: #ffc000;
  background-color: white;
  border: 1px solid #ffc000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.total {
  border-radius: 4px;
  padding: 10px 23px;
  font-size: 16px;
}

.menu {
  display: none;
}

@media (max-width: 950px) {
  .menu {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 950px) {
  .header .navbar .container .navigation .nav-list {
    display: none;
  }
}
@media (max-width: 1040px) {
  .main .hero .site-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 477px) {
  .main .hero .site-hero .site-hero__left .btn-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .hero .site-hero .site-hero__left .site-hero__left__title {
    margin-bottom: 60px;
  }
}
.btn-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#navbar-responsive {
  border-radius: 3px;
  z-index: 200px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: -100%;
  bottom: 0;
  background-position: center;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: #a4a458;
}
#navbar-responsive .navbar-button {
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  width: 170px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}
#navbar-responsive .navbar-button:hover {
  background-color: #cf6f49;
}
#navbar-responsive #navbar-close {
  position: absolute;
  top: 50px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: transparent;
}
#navbar-responsive .navbar-link {
  display: inline-block;
  width: 250px;
  text-align: center;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 10px 22px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
  margin-bottom: 25px;
  border: 2px solid rgb(160, 160, 236);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
#navbar-responsive .navbar-link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: 0;
  background-color: #cf6f49;
  color: #fff;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 3px 3px rgb(157, 116, 116);
          box-shadow: 0px 0px 3px 3px rgb(157, 116, 116);
}

.nav-item-last .nav-link {
  color: var(--secondary-orange, #ffd3af);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.navbar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.navbar-flex .navbar-buttom1 {
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 12px 32px;
}
.navbar-flex .navbar-buttom1:hover {
  color: white;
  background-color: #cf6f49;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-flex .header-buttom2 {
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  padding: 12px 32px;
  background-image: url(../images/search.png);
}
.navbar-flex .header-buttom2:hover {
  color: #cf6f49;
  background-color: white;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .hero {
  background: #f5f5f2;
}
.main .hero .container .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .hero .container .hero-section .hero-section__right img {
  position: absolute;
  right: 0;
}
.main .hero .container .hero-section .hero-section__left {
  z-index: 1;
}
.main .hero .container .hero-section .hero-section__left .hero-section__left__btn {
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 4px 12px;
  margin: 164px 0px 24px 0px;
}
.main .hero .container .hero-section .hero-section__left__title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px;
  margin-bottom: 20px;
  max-width: 516px;
}
.main .hero .container .hero-section .hero-section__left__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  max-width: 503px;
  margin-bottom: 20px;
}
.main .hero .container .hero-section .hero-section__left__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 168px;
  gap: 16px;
}
.main .hero .container .hero-section .hero-section__left__input__search {
  padding: 12px 192px 12px 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  background-image: url("../images/search_FILL0_wght400_GRAD0_opsz24.svg");
}
.main .hero .container .hero-section .hero-section__left__input__btn {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  padding: 5px 18px;
}
.main .hero .container .hero-section .hero-section__left__input__btn:hover {
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cf6f49;
  -webkit-box-shadow: 0px 3px 3px 3px rgb(216, 130, 130);
          box-shadow: 0px 3px 3px 3px rgb(216, 130, 130);
}

@media (max-width: 550px) {
  .main .work .container .work-flex .work-flex__description {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .main .hero .container .hero-section .hero-section__right img {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  .main .hero .container .hero-section .hero-section__left {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-backdrop-filter: 10px;
            backdrop-filter: 10px;
    border-radius: 30px;
    text-align: center;
  }
  .main .hero .container .hero-section .hero-section__left .hero-section__left__input .hero-section__left__input__btn {
    margin-right: auto;
    margin-left: auto;
  }
  .main .hero .container .hero-section .hero-section__left .hero-section__left__input__search {
    width: 98%;
  }
  .main .hero .container .hero-section .hero-section__left .hero-section__left__title {
    font-size: 40 px;
  }
}
.main .house .container .house-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .house .container .house-flex .house-flex-right img {
  width: 100%;
}
.main .house .container .house-flex .house-flex-left {
  margin-top: 160px;
}
.main .house .container .house-flex .house-flex-left .house-flex-left__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.main .house .container .house-flex .house-flex-left .house-flex-left__btns .house-flex-left__btns-link {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.main .house .container .house-flex .house-flex-left .house-flex-left__btns .house-flex-left__btns-title {
  color: #2a2c1f;
  padding: 13px 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.main .house .container .house-flex .house-flex-left .house-flex-left__btn {
  padding: 4px 12px;
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-bottom: 24px;
}
.main .house .container .house-flex .house-flex-left .house-flex-left__title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  max-width: 453px;
  margin-bottom: 28px;
}
.main .house .container .house-flex .house-flex-left .house-flex-left__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 520px;
  margin-bottom: 21px;
}
.main .work {
  margin: 67px 0px 125px 0px;
}
.main .work .container .how-works {
  margin-top: 125px;
}
.main .work .container .how-works .how-works-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.main .work .container .how-works .how-works-card .how-works-card__item {
  max-width: 405px;
  margin-top: 61px;
  padding: 49px 33px 47px 34px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.main .work .container .how-works .how-works-card .how-works-card__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .work .container .how-works .how-works-card .how-works-card__item img {
  margin-bottom: 24px;
  border-radius: 8px;
  background: #fae8e1;
  padding: 8px 8px;
}
.main .work .container .how-works .how-works-card .how-works-card__item__p1 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
  margin-bottom: 17px;
}
.main .work .container .how-works .how-works-card .how-works-card__item__p2 {
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main .work .container .how-works .how-works-title {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 21px;
}
.main .work .container .how-works-paragraph {
  color: #65665c;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 754px;
}
.main .work .container .work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .work .container .work-flex__description {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 243px;
}
.main .work .container .work-flex-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

@media (max-width: 600px) {
  .main .fast .container .fast-flex .fast-flex-left {
    text-align: center;
  }
  .main .house {
    text-align: center;
  }
  .main .house .container .house-flex .house-flex-left .house-flex-left__btns {
    margin-bottom: 20px;
  }
}
.main .fast {
  margin-top: 128px;
}
.main .fast .container .fast-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .fast .container .fast-flex .fast-flex-right img {
  width: 100%;
}
.main .fast .container .fast-flex .fast-flex-left {
  margin-top: 103px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left__btns .fast-flex-left__btns-title {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left__btns .fast-flex-left__btns-link {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left-card .fast-flex-left-card-items img {
  border-radius: 8px;
  background: #fae8e1;
  padding: 10px 10px;
  margin-bottom: 16px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left-card .ast-flex-left-card-items-title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin-bottom: 18px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left-card .fast-flex-left-card-items__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 250px;
}
.main .fast .container .fast-flex .fast-flex-left .fast-flex-left__btn {
  padding: 4px 12px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #e7e8e3;
  margin-bottom: 21px;
}
.main .fast .container .fast-flex .fast-flex-left .ast-flex-left__title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  max-width: 485px;
  margin-bottom: 29px;
}
.main .fast .container .fast-flex .fast-flex-left .ast-flex-left__title_p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 600px;
  margin-bottom: 28px;
}

.main .house-card {
  margin-top: 128px;
  background: #f5f5f2;
}
.main .house-card .container .house-card-button1 .house-card-button-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.main .house-card .container .house-card-button1 .house-card-button-card .house-card-button-card-1 .house-card-button-card-1__des {
  max-width: 100%;
  padding: 33px 228px 33px 33px;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}
.main .house-card .container .house-card-button1 .house-card-button-card .house-card-button-card-1 .house-card-button-card-1__des .house-card-button-card-1__des__h {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  max-width: 175px;
}
.main .house-card .container .house-card-button1 .house-card-button-card .house-card-button-card-1 .house-card-button-card-1__des .house-card-button-card-1__des__h-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.main .house-card .container .house-card-button1 .house-card-button-card .house-card-button-card-1 .house-card-button-card-1__des .house-card-button-card-1__des__h-flex .house-card-button-card-1__des__h-flex__p {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 121px;
}
.main .house-card .container .house-card-button1 .house-card-button-title2 {
  text-align: center;
}
.main .house-card .container .house-card-button1 .house-card-button-title2 .house-card-button-title__h {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-top: 160px;
  margin-bottom: 25px;
}
.main .house-card .container .house-card-button1 .house-card-button-title2 .house-card-button-title__p {
  color: #65665c;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 713px;
  margin-bottom: 80px;
}
.main .house-card .container .house-card-button-2 .house-card-button-card3 .house-card-button-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .house-card .container .house-card-button-2 .house-card-button-card3 .house-card-button-card__item .house-card-button-card__item__1 {
  padding: 33px 208px 33px 33px;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.main .house-card .container .house-card-button-2 .house-card-button-title {
  text-align: center;
  margin: 160px 80px;
}
.main .house-card .container .house-card-button-2 .house-card-button-title__h {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 25px;
}
.main .house-card .container .house-card-button-2 .house-card-button-title__p {
  color: #65665c;
  max-width: 713px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.main .house-card .container .house-card-button {
  text-align: center;
  margin-top: 80px;
}
.main .house-card .container .house-card-button .house-card-button__btn1 {
  color: #2a2c1f;
  padding: 13px 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.main .house-card .container .house-card-button .house-card-button__btn2 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.main .house-card .container .house-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb {
  background-color: white;
  border-radius: 9px;
  margin-bottom: 31px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb-img {
  width: 100%;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des-title {
  margin-top: 24px;
  margin-left: 24px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
  max-width: 300px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des-p {
  max-width: 159px;
  color: #2a2c1f;
  font-family: Roboto;
  margin-left: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  margin-bottom: 16px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des__flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  gap: 10px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des__flex1 .house-card-item-des__flex1__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 16px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.main .house-card .container .house-card-item .house-card-item-des-mb .house-card-item-des__flex2 .house-card-item-des__flex2__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main .house-card .container .house-card-title-1 {
  text-align: center;
}
.main .house-card .container .house-card-btn {
  padding: 4px 12px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #e7e8e3;
  margin-bottom: 21px;
}
.main .house-card .container .house-card-title {
  color: #2a2c1f;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  max-width: 643px;
  margin-bottom: 82px;
}

.house-card-btn {
  margin-top: 128px;
}

.house-card-button-card-1__des {
  max-width: 100%;
}

@media (max-width: 500px) {
  .house-card-button-card .house-card-button-card-1 .house-card-button-card-1__des {
    padding: 6px 30px 7px 7px;
    text-align: center;
    max-width: 100%;
  }
}
.house-cards-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description {
  margin-bottom: 16px;
  padding: 33px 208px 33px 33px;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  max-width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description__title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  max-width: 155px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
}
.house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description .house-cards-bottom-items__description__title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description .house-cards-bottom-items__description__title-flex a {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 500px) {
  .house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description {
    padding-right: 150px;
    width: 100%;
    text-align: center;
  }
}
.btns-other {
  margin-top: 80px;
  text-align: center;
}
.btns-other a {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.btns-other .btn {
  color: #2a2c1f;
  font-family: Roboto;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 24px; /* 150% */
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.btns-other .btn:hover {
  color: #cf6f49;
}

.family {
  margin-top: 128px;
  margin-bottom: 160px;
}
.family .container .family-blog {
  padding: 96px 257px;
  border-radius: 24px;
  background: #65665c;
  text-align: center;
}
.family .container .family-blog img {
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}
.family .container .family-blog .family-blog-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  max-width: 100%;
  margin-bottom: 29px;
}
.family .container .family-blog-p {
  color: #e7e8e3;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 766px;
  margin-bottom: 21px;
}
.family .container .family-blog-btn {
  padding: 13px 25px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
}
.family .container .family-blog-btn:hover {
  color: #bcd0e5;
}

@media (max-width: 800px) {
  .family .container .family-blog {
    padding: 50px 150px;
  }
}
@media (max-width: 600px) {
  .family .container .family-blog {
    padding: 40px 100px;
  }
}
@media (max-width: 400px) {
  .family .container .family-blog {
    padding: 12px 13px;
  }
  .family .container .family-blog .family-blog-title {
    font-size: 40px;
    max-width: 200px;
  }
}
@media (max-width: 500px) {
  .house-cards-bottom .house-cards-bottom-items .house-cards-bottom-items__description {
    margin-left: 13px;
  }
  .family .container .family-blog {
    padding: 20px 80px;
  }
}
.customer {
  margin-bottom: 160px;
}
.customer .container .customer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px;
}
.customer .container .customer-card .customer-card-item {
  padding: 26px 40px 26px 26px;
  max-width: 100%;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.customer .container .customer-card .customer-card-item:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgb(211, 158, 158);
          box-shadow: 0px 0px 4px 4px rgb(211, 158, 158);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.customer .container .customer-card .customer-card-item-p {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  max-width: 314px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.7;
  margin: 27px 0px;
}
.customer .container .customer-title {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 26px;
}
.customer .container .customer-p {
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 80px;
}
.customer .container .customer-card-item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.customer .container .customer-card-item__flex .customer-card-item__flex__p {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.customer .container .customer-card-item__flex .customer-card-item__flex__p2 {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.post {
  background: #f5f5f2;
  width: 100%;
  padding: 0px 0px 129px 0px;
}
.post .container .post-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.post .container .post-cards .post-cards-item {
  border-radius: 9px;
  background-color: white;
}
.post .container .post-cards .post-cards-item .postcards-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.post .container .post-cards .post-cards-item .postcards-item-link a {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
}
.post .container .post-cards .post-cards-item .postcards-item-link a:hover {
  color: black;
  font-weight: 900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.post .container .post-cards .post-cards-item-h {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  margin-left: 24px;
  font-weight: 700;
  line-height: 33.6px;
  max-width: 304px;
}
.post .container .post-cards .post-cards-item-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 319px;
  margin: 9px 0px 24px 24px;
}
.post .container .post-cards .post-cards-item .house-img {
  width: 100%;
}
.post .container .post-cards .post-cards-item .post-cards-item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.post .container .post-cards .post-cards-item .post-cards-item-flex-btn {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 4px 8px;
  margin-left: 24px;
  margin-top: 24px;
  border-radius: 32px;
  background: #fae8e1;
}
.post .container .post-cards .post-cards-item .post-cards-item-flex__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  margin-top: 24px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.post .container .post-btn {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 4px 12px;
  border-radius: 32px;
  background: #e7e8e3;
  margin-bottom: 21px;
  margin-top: 128px;
}
.post .container .post-title {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 29px;
  max-width: 286px;
}
.post .container .post-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.post .container .post-flex .post-flex-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 710px;
}
.post .container .post-flex .post-flex-btn {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.footer {
  margin-top: 64px;
  padding: 64px 0;
}
.footer .container .footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .container .footer-card .footer-card-item-p {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
.footer .container .footer-card .footer-card-item-p2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 379px;
  margin-bottom: 14px;
}
.footer .container .footer-card .footer-card-item .footer-card-item-flex_p {
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer .container .footer-card .footer-card-item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}
.footer .container .footer-card .footer-card-item-flex__input {
  outline: none;
  padding: 12px 112px 12px 14px;
  border: none;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.footer .container .footer-card .footer-card-item-flex__btn {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 10px 28px;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
}
.footer .container .footer-card .footer-card-item-flex__btn:hover {
  background-color: white;
  color: #cf6f49;
  border: 2px solid #cf6f49;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .container .footer-card-item-link {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .container .footer-card-item-link:hover {
  color: #cf6f49;
  font-weight: 700;
}

.footer-bottom {
  background: #f5f5f2;
  width: 100%;
  padding: 25px 0px;
}
.footer-bottom .container .footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-bottom .container .footer-bottom-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-bottom .container .footer-bottom-flex1 .footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.footer-bottom .container .footer-bottom-flex1 .footer-bottom-left .footer-bottom-left__p {
  color: #65665c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}